:root {
    --main-color: rgb(247, 6, 6);
}

body{
    background: #FFCAD4;
    font-family: 'Dosis', sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link{
    color: white;
}

#mainNavbar .nav-link:hover {
    color: var(--main-color);
}

#mainNavbar .navbar-brand{
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 100;
}

.container-fluid{
    overflow: hidden;
}

#HeadGp span{
    color: var(--main-color);
}

#HeadGp h1{
    font-weight: 100;
    font-size: 3rem;
}

h2{
    color: var(--main-color);
    font-weight: 100;
}
.lead{
    color: rgb(249, 41, 41);
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 1.7;
}
.content{
    margin-top: 50px;
}
.navbar.scrolling{
    background: rgb(239, 180, 239);
    opacity: 0.9;
    transition: background 300ms;
}
@media(max-width:1150px){
    #HeadGp h1{
        font-weight: 100;
        font-size: 1.9rem;
    }
    #para1 h2,h1{
        font-size: 1.6rem;
    }
    #para1 .lead{
        font-size: 1rem;
    }
}
